section(class="Layout")
		section(class="Layout-antagonist")
			each card in [1,2,3,4,5]
				include ../card/template.pug
		section(class="Layout-main")
			div(class="Layout-status")
				each name in ["CPU", "Uri"]
					include ../status/template.pug


			div(class="Layout-battle")
				include ../battle/template.pug
			div(class="Layout-phases")
				- text = "Ese ataque fue increible le quitaste 300 puntos"
				include ../phases/template.pug
		section(class="Layout-player")
			each card in [1,2,3,4,5]
				include ../card/template.pug